<ul class="topNavbarContainer">
  <!-- LEFT Navbar -->
  <nav class="topNavbarLeftContainer">
    <li class="navItem">
      <a href="#" class="iconButton">
        <img src="../../assets/icons/nav-menu-icon.svg" />
      </a>
    </li>
  </nav>

  <!-- MIDDLE Navbar -->
  <nav class="topNavbarMiddleContainer">
    <div class="topNavbarMiddleTitle">Welcome to Open-Bridge UI</div>
  </nav>

  <!-- RIGHT Navbar -->
  <nav class="topNavbarRightContainer">
    <li class="navItem">
      <a href="#" class="iconButton">
        <img src="../../assets/icons/alert-icon.svg" />
      </a>
    </li>

    <li class="navItem">
      <a href="#" class="iconButton">
        <img src="../../assets/icons/user-icon.svg" />
      </a>
    </li>

    <li class="navItem">
      <a href="#" class="iconButton">
        <img src="../../assets/icons/dimming-icon.svg" />
      </a>
    </li>

    <li class="navItem">
      <a href="#" class="iconButton">
        <img src="../../assets/icons/apps-icon.svg" />
      </a>
    </li>
  </nav>
</ul>
