<div class="instrument-grid instument-panel">
  <!-- HOD -->
  <div class="card-instrument card-2x2">
    <ob-hdg-medium
      class="container-2x2"
      heading="60"
      northUp="true"
    ></ob-hdg-medium>
    <div class="card-title title-medium">HDG Medium</div>
  </div>

  <div class="card-instrument card-4x4">
    <ob-hdg-large
      class="container-4x4"
      heading="60"
      courseOverGround="30"
      northUp="true"
    ></ob-hdg-large>
    <div class="card-title title-large">HDG Large</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-hdg-small class="container-1x1"></ob-hdg-small>
    <div class="card-title title-small">HDG Small</div>
  </div>

  <!-- RUDDER -->
  <div class="card-instrument card-2x2">
    <ob-rudder-medium
      class="container-2x2"
      rudderAngle="25"
      rudderSetPointAngle="35"
      clipAngle="60"
      showPortStarboard="true"
      showSetPoint="true"
    ></ob-rudder-medium>
    <div class="card-title title-medium">Rudder Medium</div>
  </div>

  <div class="card-instrument card-4x4">
    <ob-rudder-large class="container-4x4"></ob-rudder-large>
    <div class="card-title title-large">Rudder Large</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-rudder-small class="container-1x1"></ob-rudder-small>
    <div class="card-title title-small">Rudder Small</div>
  </div>

  <!-- AZIMUTH -->
  <div class="card-instrument card-2x2">
    <ob-azimuth-medium class="container-2x2"></ob-azimuth-medium>
    <div class="card-title title-medium">Azimuth Medium</div>
  </div>

  <div class="card-instrument card-4x4">
    <ob-azimuth-large
      class="container-4x4"
      target="80"
      value="70"
      angle="45"
      targetAngle="60"
      thrusterWidth="REGULAR"
      showPortStarboard="true"
      showSetPointValue="true"
      showSetPointAngle="true"
    ></ob-azimuth-large>
    <div class="card-title title-large">Azimuth Large</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-azimuth-small class="container-1x1"></ob-azimuth-small>
    <div class="card-title title-small">Azimuth Small</div>
  </div>

  <!-- TUNNEL THRUSTER -->
  <div class="card-instrument card-1x2">
    <ob-tunnel-thruster-medium
      class="container-1x2"
    ></ob-tunnel-thruster-medium>
    <div class="card-title title-medium">Thruster Medium</div>
  </div>

  <div class="card-instrument card-2x4">
    <ob-tunnel-thruster-large class="container-2x4"></ob-tunnel-thruster-large>
    <div class="card-title title-large">Thruster Large</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-tunnel-thruster-small class="container-1x1"></ob-tunnel-thruster-small>
    <div class="card-title title-small">Thruster Small</div>
  </div>

  <!-- PITCH ROLL -->
  <div class="card-instrument card-2x2">
    <ob-pitch-roll-medium
      class="container-2x2"
      pitch="1"
      lowerPitch="-6"
      upperPitch="6"
      roll="4"
      lowerRoll="-10"
      upperRoll="10"
      scale="5"
    ></ob-pitch-roll-medium>
    <div class="card-title title-medium">Pitch & Roll Medium</div>
  </div>

  <div class="card-instrument card-4x4">
    <ob-pitch-roll-large class="container-4x4"></ob-pitch-roll-large>
    <div class="card-title title-large">Pitch & Roll Large</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-pitch-roll-small class="container-1x1"></ob-pitch-roll-small>
    <div class="card-title title-small">Pitch & Roll Small</div>
  </div>

  <!-- WATCH FACE -->
  <div class="card-instrument card-2x2">
    <ob-watchface-medium class="container-2x2"></ob-watchface-medium>
    <div class="card-title title-medium">Watchface Medium</div>
  </div>

  <div class="card-instrument card-4x4">
    <ob-watchface-large class="container-4x4"></ob-watchface-large>
    <div class="card-title title-large">Watchface Large</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-watchface-small class="container-1x1"></ob-watchface-small>
    <div class="card-title title-small">Watchface Small</div>
  </div>

  <!-- ROT -->
  <div class="card-instrument card-2x2">
    <ob-rot-circle-medium class="container-2x2"></ob-rot-circle-medium>
    <div class="card-title title-medium">ROT Medium</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-rot-circle-small class="container-1x1"></ob-rot-circle-small>
    <div class="card-title title-small">ROT Small</div>
  </div>

  <div class="card-instrument card-1x2">
    <ob-rot-flat-medium class="container-1x2"></ob-rot-flat-medium>
    <div class="card-title title-medium">ROT Medium</div>
  </div>

  <div class="card-instrument card-1x4">
    <ob-rot-flat-large class="container-1x4"></ob-rot-flat-large>
    <div class="card-title title-large">ROT Large</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-rot-flat-small class="container-1x1"></ob-rot-flat-small>
    <div class="card-title title-small">ROT Small</div>
  </div>

  <!-- SPEEDOMETER -->
  <div class="card-instrument card-2x2">
    <ob-speedometer-medium class="container-2x2"></ob-speedometer-medium>
    <div class="card-title title-medium">Speedometer Medium</div>
  </div>

  <!-- MAIN ENGINE -->
  <div class="card-instrument card-2x2">
    <ob-main-engine-medium class="container-2x2"></ob-main-engine-medium>
    <div class="card-title title-medium">Engine Medium</div>
  </div>

  <div class="card-instrument card-4x4">
    <ob-main-engine-large class="container-4x4"></ob-main-engine-large>
    <div class="card-title title-large">Engine Large</div>
  </div>

  <div class="card-instrument card-1x1">
    <ob-main-engine-small class="container-1x1"></ob-main-engine-small>
    <div class="card-title title-small">Engine Small</div>
  </div>
</div>
<!-- <div class="card-instrument card-wide card-tall">
    <app-thruster></app-thruster>
  </div>
  <div class="card-instrument"><app-roll-pitch></app-roll-pitch></div>
  <div class="card-instrument"><app-rudder></app-rudder></div>

  <div class="card-instrument card-wide card-tall">
    <app-thruster></app-thruster>
  </div>
  <div class="card-instrument"><app-roll-pitch></app-roll-pitch></div>
  <div class="card-instrument"><app-rudder></app-rudder></div>

  <div class="card-instrument"><app-hdg></app-hdg></div>

  <div class="card-instrument"><app-roll-pitch></app-roll-pitch></div>
  <div class="card-instrument"><app-rudder></app-rudder></div>

  <div class="card-instrument card-wide card-tall">
    <app-thruster></app-thruster>
  </div> -->
