<div class="instrument-grid instument-panel">
  <div class="card-instrument card-wide card-tall">
    <app-thruster></app-thruster>
  </div>
  <div class="card-instrument"><app-roll-pitch></app-roll-pitch></div>
  <div class="card-instrument"><app-rudder></app-rudder></div>

  <div class="card-instrument card-wide card-tall">
    <app-thruster></app-thruster>
  </div>
  <div class="card-instrument"><app-roll-pitch></app-roll-pitch></div>
  <div class="card-instrument"><app-rudder></app-rudder></div>

  <div class="card-instrument"><app-roll-pitch></app-roll-pitch></div>
  <div class="card-instrument"><app-rudder></app-rudder></div>

  <div class="card-instrument card-wide card-tall">
    <app-thruster></app-thruster>
  </div>
</div>
