@import url("./open-bridge.css");
@import url("./app/instrument.css");

body {
  margin: 0;
  padding: 0;
  background-color: var(--container-backdrop-color);
}

.fullScreenApp {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
